# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env*.local

# Builds
dist/
build/

# Logs y caches
*.log
.eslintcache
coverage/

# Sistema operativo / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json


Datos_Sinteticos_Prueba_Full_Stack_Junior_2026.xlsx